.signupContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 1;
  position: relative;
  gap: 10px;
  background: linear-gradient(90deg, rgba(79, 156, 79, 0.671), #c7fe024f), url(../../assets/images/addHome.jpg);
  background-size: cover;
  background-position: top;
}

.alert {
  position: absolute;
  top: 10vh;
  font-size: 18px;
  color: #fff;
  padding: 10px;
  text-align: center;
  background-color: rgb(251, 25, 25);
  border-radius: 10px;
}

.signupContainer input {
  width: 80%;
  max-width: 300px;
  height: 40px;
  border-radius: 5px;
  padding: 5px;
}

.signupContainer h1,
.signupContainer p {
  color: #fff;
  text-align: center;
}

.login {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.signupContainer a {
  color: red;
  background-color: white;
  padding: 5px;
  border-radius: 5px;
}
