.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 100vh;
  flex: 1;
  padding: 0 20px;
  gap: 20px;
  background-color: #8fcfab5f;
  position: relative;
}

.back {
  position: absolute;
  bottom: 20px;
  left: 0;
  background-color: #277b4b;
  cursor: pointer;
  padding: 10px;
  z-index: 90;
  border-radius: 0 20px 20px 0;
}

.bicon {
  color: #fff;
  font-size: 30px;
  rotate: 180deg;
}

.slider {
  width: 500px;
  flex: 1.5;
}

.info {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-end;
}

.info p,
.info h1 {
  text-align: right;
}

.description {
  padding: 10px;
  background-color: rgb(245, 245, 245);
  border-radius: 5px;
}

.img {
  width: 100%;
  height: 100vh;
  object-fit: contain;
  object-position: center;
  border-radius: 20px;
}

.icon {
  color: #dedede;
  font-size: 50px;
}

.licon {
  color: #277b4b;
  font-size: 24px;
}

.wicon {
  color: #fff;
  font-size: 24px;
}

.yicon {
  color: #ffe234;
  font-size: 24px;
}

.gicon {
  color: #a8a8a8;
  font-size: 24px;
}

.detailwithIcon {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
}

@media (max-width: 768px) {
  .container {
    flex-direction: column;
    height: auto;
  }

  .slider {
    width: 100%;
  }

  .info {
    width: 100%;
    align-items: center;
  }

  .info p,
  .info h1 {
    text-align: center;
  }

  .detailwithIcon {
    justify-content: center;
  }

  .img {
    height: 200px;
  }

  .back {
    bottom: auto;
    top: 20px;
  }
}
