.navbarContainer {
  display: flex;
  flex-direction: column;
  background-color: rgb(248, 248, 248);
  justify-content: space-between;
  align-items: center;
  border: 1px solid rgb(221, 221, 221);
  z-index: 100;
  opacity: 0.9;
  padding: 10px 0 0 0;
}

.hamburger {
  display: none;
}

.navbarContainer img {
  width: 80px;
  height: 80px;
}

.navbarlink {
  display: flex;
  flex-direction: column;
  flex: 0.8;
  justify-content: space-between;
}

.navbarlink a {
  text-decoration: none;
  color: black;
  font-weight: 600;
  padding: 10px 30px;
}

.isActive {
  color: white !important;
  background-color: rgb(4, 216, 4);
  box-shadow: 0 0 5px 0 rgb(4, 216, 4);
}

.closeIcon {
  display: none;
}

.navbarlinklist {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.logout {
  background: red;
  color: white;
  border: none;
  padding: 10px 0;
  box-shadow: 0 0 5px 0 red;
}

@media (max-width: 768px) {
  .navbarContainer {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
  }

  .navbarContainer img {
    width: 50px;
    height: 50px;
  }

  .navbarlink {
    display: none;
  }

  .navbarlink a {
    padding: 10px 10px;
  }

  .hamburger {
    display: block;
    cursor: pointer;
  }

  .hamburgerIcon {
    width: 30px;
    height: 30px;
  }

  .navbarlinkmobile {
    position: fixed;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: rgb(229, 229, 229);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1000;
  }

  .closeIcon {
    display: block;
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    width: 20px;
    height: 20px;
  }
}
