.fixed-center-screen {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.deleteCard {
  border-radius: 10px;
  background-color: white;
  opacity: 0.8;
  max-height: 300px;
}

.cardImage {
  height: 150px;
  width: 100%;
  object-fit: cover;
  border-radius: 10px 10px 0 0;
}

.deleteCard .card-body {
  padding: 20px;
}

.deleteCard .card-body .card-title {
  font-size: 20px;
  font-weight: 600;
}

.deleteCard .card-body .card-text {
  font-size: 16px;
  font-weight: 400;
}

.deleteCard .card-body button {
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
}
