.cardContainer {
  flex: 1;
  gap: 20px;
}

.deleteCard {
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.deleteCard .card-body {
  padding: 20px;
}

.deleteCard .card-body .card-title {
  font-size: 20px;
  font-weight: 600;
}

.deleteCard .card-body .card-text {
  font-size: 16px;
  font-weight: 400;
}

.deleteCard .card-body button {
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
}
