.App {
  display: flex;
  flex-direction: row;
  min-height: 100vh;
  text-align: center;
}

.g-custom {
  gap: 10px;
}

.loader {
  border: 16px solid #b6b6b6;
  border-radius: 50%;
  border-top: 16px solid #0cf80c;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@media (max-width: 768px) {
  .App {
    flex-direction: column;
  }
}

.welcome-message {
  position: fixed;
  top: 20px;
  right: 20px;
  z-index: 999;
  background-color: #0cf80c;
  color: white;
  padding: 20px;
  border-radius: 10px;
}
